<!-- <h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

Ceci est un test
 -->


<h1><center> <strong>Merci pour votre reservation!</strong></center></h1>



<center><iframe src="https://giphy.com/embed/Oe2Tw5GnKRQwo" width="480" height="335" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/interesting-evolution-bicycle-Oe2Tw5GnKRQwo">via GIPHY</a></p></center><
